<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Edit Post</h1>
    <hr>
    <form action = "/edit" method="post">
        <input type="text" value = "<%= post.title%>" name="title" id=""><br>
        <input type="text" value = "<%= post.text%>" name="text" id="">
        <input type="submit" value="Edit">
        <br>
        <a href = "/">Back</a>
    
    </form>
</body>
</html>